.iframe-page-container {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background: #111;
    overflow: hidden;
}

.iframe-content {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

@media (max-width: 768px) {
    .iframe-page-container {
        top: 60px;
        height: calc(100vh - 60px);
    }
}
